<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    h1,h2,h3{
        padding-left: 50px;
    }
</style>

<body>
    <%- include("./navbar") %>
    <h1>node.js CRUD System </h1>
    <h2>Functions</h2>
    <h3>- เชื่อมต่อ MongoDB <br>
        <pre>- ระบบ CRUD  
        • เพิ่มข้อมูลลงใน Database
        • แสดงข้อมูลที่มีใน Database
        • แก้ไขข้อมูลใน Database
        • ลบข้อมูลใน Database
</h3></pre>
    <h3>- ระบบอัพโหลดรูปภาพ Profile
        <pre>
        • อัพโหลดภาพแล้วจะเก็บอยู่ในฝั่ง Server
        • เมื่อทำการลบข้อมูลใน Database รูปภาพ Profile ของ user นั้นก็จะถูกลบไปด้วย</pre>
    </h3>
    <h3>- เปลี่ยนรูปภาพโปรไฟล์
        <pre>
        • หากไม่มีรูปภาพ Profile ก็จะแสดงมาเป็น default profile แทน</pre>
    </h3>
        


   

    </script>
</body>

</html>