<link rel="stylesheet" href="/css/style.css">

<body>

  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/user">Users</a>
    <a href="https://github.com/boykingkao/nodejsProject" target="_blank">Github</a>
    <a href="/about_me">About Me</a>
  </div>


</body>